<nav id="sidebar" class="sidebar">
  <div class="sidebar-header">
    <h2>Unite Tools</h2>
  </div>

  <div class="sidebar-content">
    <ul>
      <li id="nav-drafts-title" class="nav-title" data-lang="nav_drafts_title">Drafts</li>
      <!-- Release Github Pages -->
      <li><a id="nav-draft-simulator" href="/PokemonUniteDraft" data-lang="nav_draft_simulator">Draft Simulator</a></li>
      <!-- Live Server local test -->
      <!-- <li><a id="nav-draft-simulator" href="/" data-lang="nav_draft_simulator">Draft Simulator</a></li> -->

      <li id="nav-tierlists-title" class="nav-title" data-lang="nav_tierlists_title">Tierlists - [BETA]</li>
      <!-- Release Github Pages -->
      <li><a id="nav-create-tierlist" href="/PokemonUniteDraft/tierlist.html" data-lang="nav_create_tierlist">Create Tierlist</a></li>
      <!-- Live Server local test -->
       <!-- <li><a id="nav-create-tierlist" href="../tierlist.html" data-lang="nav_create_tierlist">Create Tierlist</a></li> -->

      <li id="nav-tierlists-title" class="nav-title">Maps - [SOON]</li>
      <!-- Release Github Pages -->
      <li><a id="nav-interactive-map" href="/PokemonUniteDraft/soon.html" data-lang="nav_interactive_map">Interactive Map</a></li>
      <li><a id="nav-map-timing" href="/PokemonUniteDraft/soon.html" data-lang="nav_map_timing">Map Timing</a></li>
      <!-- Live Server local test -->
      <!-- <li><a id="nav-interactive-map" href="../soon.html" data-lang="nav_interactive_map">Interactive Map</a></li>
      <li><a id="nav-map-timing" href="../soon.html" data-lang="nav_map_timing">Map Timing</a></li> -->
      
    </ul>
  </div>

  <!-- Boutons de langue en bas -->
  <div id="lang-switch" class="lang-switch">
    <button class="lang-btn" data-lang="en" aria-label="English">
      <img src="/PokemonUniteDraft/assets/flags/en.svg" alt="English" width="32" height="22">
    </button>
    <button class="lang-btn" data-lang="fr" aria-label="Français">
      <img src="/PokemonUniteDraft/assets/flags/fr.svg" alt="Français" width="32" height="22">
    </button>
    <button class="lang-btn" data-lang="es" aria-label="Español">
      <img src="/PokemonUniteDraft/assets/flags/es.svg" alt="Español" width="32" height="22">
    </button>
    <button class="lang-btn" data-lang="de" aria-label="German">
      <img src="/PokemonUniteDraft/assets/flags/de.svg" alt="German" width="32" height="22">
    </button>
    <button class="lang-btn" data-lang="it" aria-label="Italy">
      <img src="/PokemonUniteDraft/assets/flags/it.svg" alt="Italy" width="32" height="22">
    </button>
  </div>
</nav>

<button id="toggle-sidebar" class="toggle-sidebar-btn" aria-label="Ouvrir/fermer la barre de navigation">
  ☰
</button>
